html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f5f1e8;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
